<div class="container">
    <div *ngIf="!character; else divCharacter">
        <app-load-page></app-load-page>

        <div class="float-button">
            <button mat-fab color="accent" matTooltip="Regresar a la Pagina anterior" matTooltipPosition="above"
                routerLink="../">
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
        </div>

    </div>

    <ng-template #divCharacter>

        <div class="character-container">

            <div class="title-container">
                <h1>
                    {{ character?.name }}
                    <small>- {{ character?.species }} </small>
                </h1>
                <mat-divider></mat-divider>

            </div>

            <br>

            <div class="info-container">
                <div class="left-part">
                    <mat-card class="flip-card">
                        <div class="flip-card-inner">
                            <img class="character-img" [src]="character?.image">
                        </div>
                    </mat-card>
                </div>
                <div class="right-part">

                    <mat-list>
                        <mat-list-item>
                            <strong> Status:</strong>
                            {{ character?.status }}
                        </mat-list-item>
                        <mat-list-item>
                            <strong> Species:</strong>
                            {{ character?.species }}
                        </mat-list-item>
                        <mat-list-item>
                            <strong> Gender:</strong>
                            {{ character?.gender }}
                        </mat-list-item>
                        <mat-list-item>
                            <strong> Origin:</strong>
                            {{ character?.origin.name }}
                        </mat-list-item>
                        <mat-list-item>
                            <strong> Location:</strong>
                            {{ character?.location.name }}
                        </mat-list-item>
                        <mat-list-item>
                            <strong> Created:</strong>
                            {{ character?.created | date}}
                        </mat-list-item>
                    </mat-list>

                    <button mat-raised-button color="accent" color="accent" routerLink="../">
                        Regresar
                    </button>

                </div>


            </div>

            <h2>Capitulos:</h2>

            <div class="table">
                <table mat-table [dataSource]="episodes" class="mat-elevation-z8">

                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>ID</th>
                        <td mat-cell *matCellDef="let episode">{{episode.id}}</td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Nombre del capitulo</th>
                        <td mat-cell *matCellDef="let episode">{{ episode.name }}</td>
                    </ng-container>

                    <!-- Air Date Column -->
                    <ng-container matColumnDef="airDate" class="responsive-card">
                        <th mat-header-cell *matHeaderCellDef class="responsive-card">Fecha de emisión</th>
                        <td mat-cell *matCellDef="let episode" class="responsive-card">{{ episode.airDate }}</td>
                    </ng-container>

                    <!-- Episode Column -->
                    <ng-container matColumnDef="episode" class="responsive-card">
                        <th mat-header-cell *matHeaderCellDef class="responsive-card">Capitulo</th>
                        <td mat-cell *matCellDef="let episode" class="responsive-card">{{episode.episode}}</td>
                    </ng-container>

                    <!-- links Column -->
                    <ng-container matColumnDef="link">
                        <th mat-header-cell *matHeaderCellDef>Link</th>
                        <td mat-cell *matCellDef="let episode">
                            <button mat-mini-fab color="accent" aria-label="Boton para dirigir hacia el capitulo"
                                [routerLink]="['/episode/descriptionEpisode', episode.id]">
                                <mat-icon>play_arrow</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

            </div>

        </div>

    </ng-template>

</div>