<mat-sidenav-container fullscreen>

  <!-- Menu Oculto -->

  <mat-sidenav #sidenav mode="push">
    <app-sidenav (click)="sidenav.toggle()"></app-sidenav>
  </mat-sidenav>

  <!-- Contenido -->
  <div class="container">

    <mat-toolbar color="accent" class="toolbar">

      <div class="toolbar-content">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

        <span>Contenido</span>
        
      </div>

    </mat-toolbar>

    <div class="content">
      <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
    <app-footer class="footer"></app-footer>

  </div>

</mat-sidenav-container>

<!-- Notas -->

<!-- En el evento '(click)' donde se ejecuta la sentencia 'sidenav.toggle()' hace referendia a un meto propio de la libreria
Angular Materal el cual permite ocultar y visualizar el menu lateral -->