// colores
$white: #FFFFFF;

// sombras
$shadow1: rgba(0, 0, 0, 0.12);
$shadow2: rgba(0, 0, 0, 0.24);
$shadow3: rgba(0, 0, 0, 0.19);

// Rick and Morty Palette
$dark: #44281d;
$greenLight: #e4a788;
$light: #f0e14a;
$greenDark: #97ce4c;
$gray: #e89ac7;